
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
div,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td, :global(#root) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:global(#root){
  height:100%;
}
:global(.ant-upload.ant-upload-select-picture-card){
  width:100%;
}
.f {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex
}

.f1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.fc {
  align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center
}

.fc-h {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.f-end {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.fv {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.fw {
  -webkit-flex-wrap: wrap;
  -webkit-box-lines: multiple;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
}

.fj {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.fk{
  flex-shrink: 0;
}
.rel {
  position: relative;
}

.fs {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.line {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.line1 {
  -webkit-line-clamp: 1;
}

.line2 {
  -webkit-line-clamp: 2;
}

.line3 {
  -webkit-line-clamp: 3;
}
@font-face {
  font-family: 'beyno';
  src: url("./assets/BEYNO.ttf");
}

.contain{
  width:100%;
  height:100%;
  position: relative;
}
.containMain{
  background:#f5f5f5;
  height:100%;
  overflow: hidden;
}
.containf{
  margin: 20px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
.main{
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border-radius: 5px;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  background-color: rgba(0, 0, 0, 0.15);
}
.demo-loading-container{
  display: flex;
  justify-content: center;
}